<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Приложение работает в режиме отладки, часть функций отключена. -->
    <add key="Application_Debug" value="True" />
    <!-- Selenium -->
    <add key="Selenium_PageLoadTimeout" value="300" />
    <add key="Selenium_ElementLoadTimeout" value="120" />
    <add key="Selenium_PollingInterval" value="1" />
    <!-- Авторизация -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Режим работы бота 
    
         1 - Поиск новых контактов
         2 - Подтверждение найденных контактов
         3 - Массовая рассылка писем
         4 - Проверка существующих контактов
    
    -->
    
    <add key="Mode" value="3"/>


    <!-- Настройки работы программы -->
    <!-- Текущий используемый бот для работы -->
    <!-- Возможныые значения
         Gena       - Gennadiy Postolatyev
         Ivan       - Ivan Rebenok
         Angela     - Angela Veresova 
         Viktor     - Viktor Prolesok
         Anna       - Anna Rumina 
         Elena      - Elena Solonicina
         Michael    - Michael Sergievsky
         Viktoria   - Viktoria Yakimenko exclude now
         Anastasia  - Anastasia Kashina
         Nastya     - My test account
    -->
    <add key="UserBot" value="Anastasia" />
   
    <!-- Настройки клиентов -->
    <add key="Nastya_linkLogin" value="cfilimonchuk1@gmail.com" />
    <add key="Nastya_linkPassword" value="lin147258" />
    <add key="Nastya_CrmLogin" value="nastya" />
    <add key="Nastya_CrmPassword" value="rufus279" />
    <add key="Nastya_FullName" value="Anastasiya Ryzhkova" />
    
    <add key="Gena_linkLogin" value="gpostolatyev@mail.ru" />
    <add key="Gena_linkPassword" value="g33876a" />
    <add key="Gena_CrmLogin" value="pga" />
    <add key="Gena_CrmPassword" value="qwerty123" />
    <add key="Gena_FullName" value="Gennadiy Postolatyev" />
    
    <add key="Ivan_linkLogin" value="i.rebenok@argus-soft.net" />
    <add key="Ivan_linkPassword" value="Iv@N5434LokC" />
    <add key="Ivan_CrmLogin" value="rebenok" />
    <add key="Ivan_CrmPassword" value="as0Xx0" />
    <add key="Ivan_FullName" value="Ivan Rebenok" />
    
    <add key="Angela_linkLogin" value="a.veresova@argus-soft.net" />
    <add key="Angela_linkPassword" value="@nGeL@43FtHe" />
    <add key="Angela_CrmLogin" value="veresova" />
    <add key="Angela_CrmPassword" value="zvcQOM" />
    <add key="Angela_FullName" value="Angela Veresova" />
    
    <add key="Viktor_linkLogin" value="v.prolesok@argus-soft.net" />
    <add key="Viktor_linkPassword" value="VikT0R830HbNmD" />
    <add key="Viktor_CrmLogin" value="prolesok" />
    <add key="Viktor_CrmPassword" value="WrMPbN" />
    <add key="Viktor_FullName" value="Viktor Prolesok" />
    
    <add key="Anna_linkLogin" value="a.rumina@argus-soft.net" />
    <add key="Anna_linkPassword" value="@nN@8971SVxAP" />
    <add key="Anna_CrmLogin" value="rumina" />
    <add key="Anna_CrmPassword" value="bnbrxQ" />
    <add key="Anna_FullName" value="Anna Rumina" />
    
    <add key="Elena_linkLogin" value="e.solonicina@argus-soft.net" />
    <add key="Elena_linkPassword" value="ElEn@0954VbEf" />
    <add key="Elena_CrmLogin" value="solonicina" />
    <add key="Elena_CrmPassword" value="yAufh6" />
    <add key="Elena_FullName" value="Elena Solonicina" />
    
    <add key="Michael_linkLogin" value="m.sergievsky@argus-soft.net" />
    <add key="Michael_linkPassword" value="mich@el523GhYd" />
    <add key="Michael_CrmLogin" value="sergievsky" />
    <add key="Michael_CrmPassword" value="7Eh7qa" />
    <add key="Michael_FullName" value="Michael Sergievsky" />
    
    <add key="Anastasia_linkLogin" value="a.kashina@argus-soft.net" />
    <add key="Anastasia_linkPassword" value="arigato1" />
    <add key="Anastasia_CrmLogin" value="anastasia" />
    <add key="Anastasia_CrmPassword" value="arigato1" />
    <add key="Anastasia_FullName" value="Anastasia Kashina" />
    
    <add key="Viktoria_linkLogin" value="vikki.sales87@gmail.com" />
    <add key="Viktoria_linkPassword" value="DbRN0HbZ777" />
    <add key="Viktoria_CrmLogin" value="vika" />
    <add key="Viktoria_CrmPassword" value="DMxlec" />
    <add key="Viktoria_FullName" value="Viktoria Yakimenko" />
    <!-- Настройки определяющие режим функционирования бота -->
    <!-- По какой категории происходит поиск -->
    <add key="Category" value="39" />
    <!-- В каких группах идет поиск -->
    <!-- add key="Groups" value="2013391,36415,62503,100358,61398,2204708,2204708,66325,66275"/-->
    <!-- По каким позициям(занимаемая должность) происходит поиск -->
    <add key="Position" value="Software Engineer" />
    <!-- Страны для поиска -->
    <!--add key="Country" value="us,ca,de,au,gb,fr,it" /-->
    <add key="Country" value="ua"/>
    <!-- Интересующие технологии для поиска -->
    <add key="Technologies" value="Testing" />
    <!-- Слова по наличию которых происходит пропуск записи -->
    <add key="Exclude" value="India,China,Bulgaria,Russia,Romania,Belarusian,telecommunications,security,networking,clouds,crm,ibm,oracle,apple,google,emc,hp,dell,accenture,sales,consulting,recruiting" />
    <!-- Кол-во отсылаемых за сутки приглашений -->
    <add key="CountInvite" value="5" />

    <!-- Временные интервалы для работы -->
    <!-- Начало рабочего дня -->
    <add key="HourDayBegin" value="8"/>
    <!-- Конец рабочего дня -->
    <add key="HourDayEnd" value="19"/>
    <!-- Subject отсылаемого сообщения -->
    <!--add key="SubjectMessage" value="Thanks for adding %FirstName!"/-->
     <add key="SubjectMessage" value=" What is the best time %FirstName?"/>
    <!--add key="SendIndustry" value="39"/ -->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>